.horror-image {
    align-items: center;
    padding: 10px 10px 40px 10px;
    margin: 30px 70px;
    background-color: #CC5803;
    border-radius: 25px;
}

.horrorItemCard {
    flex-wrap: wrap;
}

img {
    width: 10%;
    height: auto;
}

.save-btn,
.add-btn {
    background-color: chartreuse;
}

.delete-btn,
.remove-btn {
    background-color: red;
}

.homePage,
.horrorFaves,
.horrorPosts {
    background-color: black;
}

.welcome {
    color: brown;
    text-align: center;
}

.title {
    color: brown;
}