.horror-image {
    align-items: center;
    padding: 10px 10px 40px 10px;
    margin: 30px 70px;
    background-color: #CC5803;
    border-radius: 25px;
}

.horrorDetail {
    background-color: black;
}

.horrortitle,
.description,
.releaseDate {
    color: cyan;
}

.horrorItemCard {
    margin-left: 100px;
}

img {
    width: 10%;
    height: auto;
}

.navLink {
    margin-left: 300px;
}

.add-btn {
    background-color: chartreuse;
}

.save-btn {
    background-color: chartreuse;
    margin-left: -200px;
    margin-top: 200px;
    position: absolute;
}

.delete-btn {
    background-color: red;
    margin-top: 166px;
    position: absolute;
}

.remove-btn {
    background-color: red;
    margin-left: -200px;
    margin-top: 200px;
    position: absolute;
}

.homePage,
.horrorFaves,
.horrorPosts {
    background-color: black;
}

.welcome {
    color: brown;
    text-align: center;
}

.movieButton,
.showButton,
.gameButton,
.bookButton {
    background-color: #CC5803;
    margin-left: 230px;
}

.no,
.meh,
.okay,
.good,
.scary {
    background-color: cornflowerblue;
    margin-left: 100px;
}

.title {
    color: brown;
    margin-left: 90px;
}